@font-face {
    font-family: 'Cutive Mono';
    src: url('./data/font/CutiveMono-Regular.ttf') format('truetype');
   }

body {
    background-color: #030303;
    color: white;
    color-scheme: dark;
    scale: auto;
    height: auto;
    margin: auto;
    overflow-y: auto;
    overflow-x: auto;
    display: table;
    align-items: left;
    justify-content: center;
    font-family: 'Cutive Mono', monospace;
}

a:link {
    color: white;
}
a:visited {
    color: white;
}

a:active {
    color: white;
}

a:any-link {
    color: white;
}

h1 {
    font-size: 4.8vh;
}

h2 {
    font-size: 2.5vh;
}

p {
    font-size: 1.8vh;
}