@font-face {
    font-family: 'Cutive Mono';
    src: url('./data/font/CutiveMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('./data/font/RobotoSlab-VariableFont_wght.ttf') format('truetype');
}

body {
    background-color: black;
    color: white;
    color-scheme: dark;
    font-family: 'Cutive Mono', monospace;
    max-width: fit-content;
    margin: auto;
    scale: 1;
    overflow-y: auto;
    overflow-x: auto;
    text-align: left;
}

a:link {
    color: white;
    text-decoration: none;
}
a:visited {
    color: white;
    text-decoration: none;
}

a:active {
    color: white;
    text-decoration: none;
}

a:any-link {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #A3A3A3;
    text-decoration: none;
}

h1 {
    font-size: 3.8vh;
    text-decoration: underline;
    line-height: 5vh;
}

h2 {
    font-size: 2vh;
    line-height: 3vh;
}

p {
    font-size: 1.4vh;
    line-height: 1.4vh;
}

details > summary {
    color:#999999;
    font-size: 1.4vh;
    font-style:italic;
    font-weight: bold;
    cursor: pointer;
}